.DS_Store
.env
.air/
.local/
.data/
.cache/
.venv-paddleocr/

frontend/node_modules
frontend/dist

backend/web/dist
playwright-report
test-results

*.log
cookies.txt
bin
samples/SHARP-bd-recorder-2025-06.pdf
samples/taxonomy-with-ids.ja-JP.xls
